body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #111827;
    line-height: 1.6;
    padding: 24px;

}

h1 {
    font-size: 34px;
    color: rgb(184, 0, 0);
    text-align: start;
    text-decoration: underline;

}

h2 {
    font-size: 34px;
    color: rgb(184, 0, 0);
    text-align: start;


}


p {
    font-size: 16px;
    color: rgb(0, 57, 142);
    text-align: start;

}